# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
 branches:
   include:
    - '*'
pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
- stage: Build
  displayName: Build & Run unit tests
  jobs: 
  - job: Build
    steps:
    - task: gitversion/setup@0
      inputs:
        versionSpec: '5.3.7'
    - task: gitversion/execute@0
    - script: dotnet build --configuration $(buildConfiguration)
      displayName: dotnet build
      
    - task: VSTest@2
      inputs:
        testSelector: 'testAssemblies'
        testAssemblyVer2: |
          tests\**\*Tests*.dll
          !**\obj\**
          !**\xunit.runner.visualstudio.testadapter.dll
          !**\xunit.runner.visualstudio.dotnetcore.testadapter.dll
        searchFolder: '$(System.DefaultWorkingDirectory)'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'pack'
        packagesToPack: '**/*.csproj'
        includesymbols: true
        includesource: true
        versioningScheme: 'off'
    
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'NuGet packages'
        publishLocation: 'Container'

- stage: NuGetPack
  displayName: Publish NuGet packages
  dependsOn: Build
  condition: and(succeeded(), eq(variables['isMain'], 'true'))
  jobs: 
    - job: Pack
      steps:
      - script: echo 'Pack'